.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

 .App {
  min-height: 100vh; /* Hauteur minimale de la fenêtre */
  display: flex; /* Utilise flexbox */
  flex-direction: column; /* Disposition verticale */
  margin: 0; /* Supprime les marges */
  padding: 0; /* Supprime les paddings */
  width: 100%; /* Assure la pleine largeur */
}

.App {
  margin: 0;
  padding: 0;
}

.App > * {
  flex: 1 0 auto; /* Permet au contenu de s'adapter */
}

footer {
  margin-top: auto; /* Pousse le footer en bas */
  width: 100%; /* S'étend sur toute la largeur */
  padding: 0; /* Supprime le padding interne */
  box-sizing: border-box; /* Inclut padding/border dans la largeur */
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }




}
